<table class="table">
		<tr><%= attachment_image_tag(@user, :profile_image, :fill, 100, 100, fallback: "no_image.jpg") %></tr>

		<tr>
			<th>name</th>
			<th><%= @user.name %></th>
		</tr>

		<tr>
			<th>introduction</th>
			<th><%= @user.introduction %></th>
		</tr>
</table>

<div class="row">
	<p class= "col-xs-12 btn btn-default">
	<%= link_to edit_user_path(@user), data: {"turbolinks" => false} do %>
	<span class= "glyphicon glyphicon-wrench">
	<% end %>
	</p>
</div>